*{
  text-decoration: none; 
  box-sizing: border-box;
}
.navbar{
  background: rgb(49, 46, 46);
  font-family: calibri; 
  padding-right: 15px;
  padding-left: 0;
}
.navdiv{
  display: flex; 
  align-items: center; 
  justify-content: flex-start;
}
.logo {
  background: rgb(12, 218, 125);
  height: 100%;
  display: flex;
  align-items: center;
}
.logo a{
  font-size: 35px; 
  font-weight: 690; 
  color: white;
  padding: 15px;
}
li{
  list-style: none; 
  display: inline-block;
}
li a{
  color: white; 
  font-size: 18px; 
  font-weight: bold; 
  margin-right: 25px;
}
ul {
  margin-left: 15px;
}
.set_center{
  display: flex; 
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 80vh;
  gap: 10px;
}
button{
}